[Desktop Entry]
Encoding=UTF-8
Name=Link to GitHub - debidatta/syndata-generation: Code used to generate synthetic scenes and bounding box annotations for object detection. This was used to generate data used in the Cut, Paste and Learn paper
Type=Link
URL=https://github.com/debidatta/syndata-generation
Icon=text-html
Name[en_US]=Link to GitHub
